﻿@model IEnumerable<SBAS.Models.COLOR>

@{
    ViewBag.Title = "اللون";
}

<a href="/color/create" class="waves-effect waves-light btn-large left red" style="top:3.5vw"><i class="mdi-content-add-circle left"></i>جديد</a>

<div id="table-datatables">
    <div class="row">
        <table id="data-table-simple" class="responsive-table display" >
            <thead>
                <tr>
                    <th style="width:90%">اللون</th>
                    <th style="width:10%">تعديل</th>
                </tr>
            </thead>                       
            </thead>                       
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.COLOR_NAME)
                        </td>
                        <td>
                            <a href="/color/edit/@item.COLOR_ID">
                                <div class="mdi-editor-mode-edit"></div>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script><script>


    $(document).ready(function () {

            $("#data-table-simple_length").hide();
    });

       
    
    $(document).ready(function () {

            $("#data-table-simple_info").hide();
    });
  
</script>
