﻿<!DOCTYPE html>
<html>
<head>

    <title>@ViewBag.Title</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Blank | Materialize - Material Design Admin Template</title>


    <!-- Favicons-->
    <link rel="icon" href="~/Content/assets/images/favicon/favicon-32x32.png" sizes="32x32">
    <!-- Favicons-->
    <link rel="apple-touch-icon-precomposed" href="~/Content/assets/images/favicon/apple-touch-icon-152x152.png">
    <!-- For iPhone -->
    <meta name="msapplication-TileColor" content="#00bcd4">
    <meta name="msapplication-TileImage" content="~/Content/assets/images/favicon/mstile-144x144.png">
    <!-- For Windows Phone -->
    <!-- CORE CSS-->

    <link href="~/Content/assets/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="~/Content/assets/css/style.css" type="text/css" rel="stylesheet" media="screen,projection">
    <!-- Custome CSS-->
    <link href="~/Content/assets/css/custom-style.css" type="text/css" rel="stylesheet" media="screen,projection">
    <!-- CSS style Horizontal Nav (Layout 03)-->
    <link href="~/Content/assets/css/style-horizontal.css" type="text/css" rel="stylesheet" media="screen,projection">


    <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->

    <link href="~/Content/assets/css/prism.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="~/Content/assets/js/plugins/perfect-scrollbar/perfect-scrollbar.css" type="text/css" rel="stylesheet" media="screen,projection">



    <link href="~/Content/assets/js/plugins/chartist-js/chartist.min.css" type="text/css" rel="stylesheet" media="screen,projection">

    <link href="~/Content/assets/js/plugins/data-tables/css/jquery.dataTables.min.css" type="text/css" rel="stylesheet" media="screen,projection">


    @*@Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")*@

    @RenderSection("scripts", required: false)


</head>




    @*@Scripts.Render("~/bundles/jquery") *@



<body>
    <!-- Start Page Loading -->
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
    <!-- End Page Loading -->
    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <!-- START HEADER -->
    <header id="header" class="page-topbar">
        <!-- start header nav-->
        <div class="navbar-fixed">
            <nav class="cyan">
                <div class="nav-wrapper">

                    <ul class="right" style="margin:0px !important;padding:0 !important">
                        
                        <li><h1 class="logo-wrapper"><a href="/" class="brand-logo darken-1"style="margin:0px !important;padding:0 !important"><img src="~/Content/assets/images/Bus Logo.png" alt="bus system logo"></a> <span class="logo-text">Bus Logo</span></h1></li>
                    </ul>
                    @*<div class="header-search-wrapper hide-on-med-and-down hide-on-med-and-down hide-on-large-only">
                    <i class="mdi-action-search"></i>
                    <input type="text" name="Search" class="header-search-input z-depth-2" placeholder="Explore Materialize" />
                </div>*@

                <ul class="left hide-on-small-and-down">
                    <li>
                        <a href="#" id="mego">date</a>
                    </li>
                    <li>
                        <a href="#" class=""><img style="border-radius:50%;width:40px;margin-top:10px" src="~/Content/assets/images/adorable.jpg" /></a>
                    </li>
                    

                    <li>
                        <a href="javascript:void(0);" class="waves-effect waves-block waves-light toggle-fullscreen"><i class="mdi-action-settings-overscan"></i></a>
                    </li>

                </ul>
                </div>
            </nav>
            <script>
                var date = new Date();
                options = {
                    weekday: 'long',
                    year: 'numeric',
                    month: 'short',
                    day: 'numeric',
                };
                var dateString = date.toLocaleDateString('ar-eg', options);
                
                    document.getElementById("mego").innerHTML = dateString;
                
            </script>
            <!-- HORIZONTL NAV START-->
            <nav id="horizontal-nav" class="white hide-on-small-and-down">
                <div class="nav-wrapper">
                    <ul id="nav-mobile" class="right hide-on-small-and-down">
                        @*<li>
            <a href="/" class="cyan-text">
                <i class="mdi-action-dashboard"></i>
                <span>Dashboard</span>
            </a>
        </li>*@
                       
                        <li style="margin-right:8vw">
                            <a class="dropdown-menu cyan-text" href="/" data-activates="maindropdown">
                                <i class="mdi-action-invert-colors"></i>
                                <span class="nav-font">البيانات الرئيسية@*<i class="mdi-navigation-arrow-drop-down right"></i>*@</span>
                            </a>
                        </li>
                        <li>
                            <a href="/" class="dropdown-menu cyan-text" data-activates="empdropdown">
                                <i class="mdi-action-work"></i>
                                <span class="nav-font">شئون العاملين</span>
                            </a>
                        </li>
                        <li>
                            <a href="/" class="dropdown-menu cyan-text" data-activates="studropdown">
                                <i class="mdi-action-account-child" data-activates="Pagesdropdown"></i>
                                <span class="nav-font" data-activates="Pagesdropdown">الطلاب</span>
                            </a>
                        </li>
                        <li>
                            <a href="/" class="dropdown-menu cyan-text" data-activates="busdropdown">
                                <i class="mdi-action-wallet-travel"></i>
                                <span class="nav-font">الخطوط والأتوبيسات</span>
                            </a>
                        </li>

                    </ul>
                </div>
            </nav>

            <!-- CSSdropdown -->
            <ul id="maindropdown" class="dropdown-content dropdown-horizontal-list">
                <li><a href="/color/index" class="cyan-text">الألوان</a></li>
                <li><a href="/model/index" class="cyan-text">الموديلات</a></li>
            </ul>
            <ul id="empdropdown" class="dropdown-content dropdown-horizontal-list">
                <li><a href="/attendant/index" class="cyan-text">المرافقيين</a></li>
                <li><a href="/driver/index" class="cyan-text">السائقين</a></li>
                <li><a href="/employee/index" class="cyan-text">الموظفيين</a></li>
            </ul>
            <ul id="studropdown" class="dropdown-content dropdown-horizontal-list">
                <li><a href="/student/index" class="cyan-text">الطلبة</a></li>
                <li><a href="/parent/index" class="cyan-text">أولياء الأمور</a></li>
            </ul>
            <ul id="busdropdown" class="dropdown-content dropdown-horizontal-list">
                <li><a href="/bus_drivers/index" class="cyan-text">سائقيين الأوتوبيس</a></li>
                <li><a href="/bus/index" class="cyan-text">الأوتوبيسات</a></li>
                <li><a href="/school/index" class="cyan-text">المدارس</a></li>
                <li><a href="/route/index" class="cyan-text">المسارات</a></li>
                <li><a href="/route_attendants/index" class="cyan-text">مرافقيين المسار</a></li>
                <li><a href="/route_stops/index" class="cyan-text">محطات المسار</a></li>
            </ul>
            <!-- UIElementsdropdown-->
            @*<ul id="UIElementsdropdown" class="dropdown-content dropdown-horizontal-list">
            <li><a href="ui-buttons.html" class="cyan-text">Buttons</a></li>
            <li><a href="ui-badges.html" class="cyan-text">Badges</a></li>
            <li><a href="ui-cards.html" class="cyan-text">Cards</a></li>
            <li><a href="ui-collections.html" class="cyan-text">Collections</a></li>
            <li><a href="ui-accordions.html" class="cyan-text">Accordian</a></li>
            <li><a href="ui-navbar.html" class="cyan-text">Navbar</a></li>
            <li><a href="ui-pagination.html" class="cyan-text">Pagination</a></li>
            <li><a href="ui-preloader.html" class="cyan-text">Preloader</a></li>
            <li><a href="ui-modals.html" class="cyan-text">Modals</a></li>
            <li><a href="ui-media.html" class="cyan-text">Media</a></li>
            <li><a href="ui-toasts.html" class="cyan-text">Toasts</a></li>
            <li><a href="ui-tooltip.html" class="cyan-text">Tooltip</a></li>
        </ul>*@

            <!-- Tablesdropdown -->
            @*<ul id="Tablesdropdown" class="dropdown-content dropdown-horizontal-list">
            <li><a href="table-basic.html" class="cyan-text">Basic Tables</a></li>
            <li><a href="table-data.html" class="cyan-text">Data Tables</a></li>
        </ul>*@

            <!-- Formsdropdown -->
            @*<ul id="Formsdropdown" class="dropdown-content dropdown-horizontal-list">
            <li><a href="form-elements.html" class="cyan-text">Form Elements</a></li>
            <li><a href="form-layouts.html" class="cyan-text">Form Layouts</a></li>
        </ul>*@

            <!-- Pagesdropdown -->
            @*<ul id="Pagesdropdown" class="dropdown-content dropdown-horizontal-list">

            <li><a href="page-invoice.html" class="cyan-text">Invoice</a></li>
            <li><a href="page-404.html" class="cyan-text">404</a></li>
            <li><a href="page-500.html" class="cyan-text">500</a></li>
            <li><a href="page-blank.html" class="cyan-text">Blank</a></li>
        </ul>*@

            <!-- eCommers -->
            @*<ul id="eCommersdropdown" class="dropdown-content dropdown-horizontal-list">
            <li><a href="eCommerce-products-page.html" class="cyan-text">eCommerce Products </a></li>
            <li><a href="eCommerce-pricing.html" class="cyan-text">Pricing Page</a></li>
            <li><a href="eCommerce-invoice.html" class="cyan-text">Invoice</a></li>
        </ul>*@

            <!-- Mediasdropdown -->
            @*<ul id="Mediasdropdown" class="dropdown-content dropdown-horizontal-list">
            <li><a href="media-gallary-page.html" class="cyan-text">Gallary Page</a></li>
            <li><a href="media-hover-effects.html" class="cyan-text">Image Hover Effects</a></li>
        </ul>*@

            <!-- Usersdropdown -->
            @*<ul id="Usersdropdown" class="dropdown-content dropdown-horizontal-list">
            <li><a href="user-profile-page.html" class="cyan-text">User Profile</a></li>
            <li><a href="user-login.html" class="cyan-text">Login</a></li>
            <li><a href="user-register.html" class="cyan-text">Register</a></li>
            <li><a href="user-forgot-password.html" class="cyan-text">Forgot Password</a></li>
            <li><a href="user-lock-screen.html" class="cyan-text">Lock Screen</a></li>
            <li><a href="user-sesssion-timeout.html" class="cyan-text">Session Timeout</a></li>
        </ul>*@

            <!-- Chartsdropdown -->
            @*<ul id="Chartsdropdown" class="dropdown-content dropdown-horizontal-list">
            <li><a href="charts-chartjs.html" class="cyan-text">Chart JS</a></li>
            <li><a href="charts-chartist.html" class="cyan-text">Chartist</a></li>
            <li><a href="charts-morris.html" class="cyan-text">Morris Charts</a></li>
            <li><a href="charts-xcharts.html" class="cyan-text">xCharts</a></li>
            <li><a href="charts-flotcharts.html" class="cyan-text">Flot Charts</a></li>
            <li><a href="charts-sparklines.html" class="cyan-text">Sparkline Charts</a></li>
        </ul>*@
            <!-- HORIZONTL NAV END-->
        </div>
        <!-- end header nav-->
    </header>
    <!-- END HEADER -->
    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <!-- START MAIN -->
    <div id="main">
        <!-- START WRAPPER -->
        <div class="wrapper">

            <!-- START LEFT SIDEBAR NAV-->
            <aside id="left-sidebar-nav">
                <ul id="slide-out" class="side-nav leftside-navigation">
                    <li class="user-details cyan darken-2">
                        <div class="row">
                            <div class="col col s4 m4 l4">
                                <img src="~/Content/assets/images/avatar.jpg" alt="" class="circle responsive-img valign profile-image">
                            </div>
                            <div class="col col s8 m8 l8">
                                <ul id="profile-dropdown" class="dropdown-content">
                                    <li>
                                        <a href="#"><i class="mdi-action-face-unlock"></i> Profile</a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="mdi-action-settings"></i> Settings</a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="mdi-communication-live-help"></i> Help</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="#"><i class="mdi-action-lock-outline"></i> Lock</a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="mdi-hardware-keyboard-tab"></i> Logout</a>
                                    </li>
                                </ul>
                                <a class="btn-flat dropdown-button waves-effect waves-light white-text profile-btn" href="#" data-activates="profile-dropdown">John Doe<i class="mdi-navigation-arrow-drop-down right"></i></a>
                                <p class="user-roal">Administrator</p>
                            </div>
                        </div>
                    </li>
                    <li class="bold">
                        <a href="index.html" class="waves-effect waves-cyan"><i class="mdi-action-dashboard"></i> Dashboard</a>
                    </li>
                    <li class="bold">
                        <a href="app-email.html" class="waves-effect waves-cyan"><i class="mdi-communication-email"></i> Mailbox <span class="new badge">4</span></a>
                    </li>
                    <li class="bold">
                        <a href="app-calendar.html" class="waves-effect waves-cyan"><i class="mdi-editor-insert-invitation"></i> Calender</a>
                    </li>
                    <li class="no-padding">
                        <ul class="collapsible collapsible-accordion">
                            <li class="bold">
                                <a class="collapsible-header waves-effect waves-cyan"><i class="mdi-action-invert-colors"></i> CSS</a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li>
                                            <a href="css-typography.html">Typography</a>
                                        </li>
                                        <li>
                                            <a href="css-icons.html">Icons</a>
                                        </li>
                                        <li>
                                            <a href="css-shadow.html">Shadow</a>
                                        </li>
                                        <li>
                                            <a href="css-media.html">Media</a>
                                        </li>
                                        <li>
                                            <a href="css-sass.html">Sass</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="bold">
                                <a class="collapsible-header  waves-effect waves-cyan"><i class="mdi-image-palette"></i> UI Elements</a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li>
                                            <a href="ui-buttons.html">Buttons</a>
                                        </li>
                                        <li>
                                            <a href="ui-badges.html">Badges</a>
                                        </li>
                                        <li>
                                            <a href="ui-cards.html">Cards</a>
                                        </li>
                                        <li>
                                            <a href="ui-collections.html">Collections</a>
                                        </li>
                                        <li>
                                            <a href="ui-accordions.html">Accordian</a>
                                        </li>
                                        <li>
                                            <a href="ui-tabs.html">Tabs</a>
                                        </li>
                                        <li>
                                            <a href="ui-navbar.html">Navbar</a>
                                        </li>
                                        <li>
                                            <a href="ui-pagination.html">Pagination</a>
                                        </li>
                                        <li>
                                            <a href="ui-preloader.html">Preloader</a>
                                        </li>
                                        <li>
                                            <a href="ui-modals.html">Modals</a>
                                        </li>
                                        <li>
                                            <a href="ui-media.html">Media</a>
                                        </li>
                                        <li>
                                            <a href="ui-toasts.html">Toasts</a>
                                        </li>
                                        <li>
                                            <a href="ui-tooltip.html">Tooltip</a>
                                        </li>
                                        <li>
                                            <a href="ui-waves.html">Waves</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="bold">
                                <a href="app-widget.html" class="waves-effect waves-cyan"><i class="mdi-device-now-widgets"></i> Widgets <span class="new badge"></span></a>
                            </li>
                            <li class="bold">
                                <a class="collapsible-header  waves-effect waves-cyan"><i class="mdi-editor-border-all"></i> Tables</a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li>
                                            <a href="table-basic.html">Basic Tables</a>
                                        </li>
                                        <li>
                                            <a href="table-data.html">Data Tables</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="bold">
                                <a class="collapsible-header  waves-effect waves-cyan"><i class="mdi-editor-insert-comment"></i> Forms</a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li>
                                            <a href="form-elements.html">Form Elements</a>
                                        </li>
                                        <li>
                                            <a href="form-layouts.html">Form Layouts</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="bold">
                                <a class="collapsible-header  waves-effect waves-cyan active"><i class="mdi-social-pages"></i> Pages</a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li>
                                            <a href="page-contact.html">Contact Page</a>
                                        </li>
                                        <li>
                                            <a href="page-todo.html">ToDos</a>
                                        </li>
                                        <li>
                                            <a href="page-blog-1.html">Blog Type 1</a>
                                        </li>
                                        <li>
                                            <a href="page-blog-2.html">Blog Type 2</a>
                                        </li>
                                        <li>
                                            <a href="page-404.html">404</a>
                                        </li>
                                        <li>
                                            <a href="page-500.html">500</a>
                                        </li>
                                        <li class="active">
                                            <a href="page-blank.html">Blank</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="bold">
                                <a class="collapsible-header  waves-effect waves-cyan"><i class="mdi-action-shopping-cart"></i> eCommers</a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li>
                                            <a href="eCommerce-products-page.html">Products Page</a>
                                        </li>
                                        <li>
                                            <a href="eCommerce-pricing.html">Pricing Table</a>
                                        </li>
                                        <li>
                                            <a href="eCommerce-invoice.html">Invoice</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="bold">
                                <a class="collapsible-header  waves-effect waves-cyan"><i class="mdi-image-image"></i> Medias</a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li>
                                            <a href="media-gallary-page.html">Gallery Page</a>
                                        </li>
                                        <li>
                                            <a href="media-hover-effects.html">Image Hover Effects</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="bold">
                                <a class="collapsible-header  waves-effect waves-cyan"><i class="mdi-action-account-circle"></i> User</a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li>
                                            <a href="user-profile-page.html">User Profile</a>
                                        </li>
                                        <li>
                                            <a href="user-login.html">Login</a>
                                        </li>
                                        <li>
                                            <a href="user-register.html">Register</a>
                                        </li>
                                        <li>
                                            <a href="user-forgot-password.html">Forgot Password</a>
                                        </li>
                                        <li>
                                            <a href="user-lock-screen.html">Lock Screen</a>
                                        </li>
                                        <li>
                                            <a href="user-session-timeout.html">Session Timeout</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>

                            <li class="bold">
                                <a class="collapsible-header waves-effect waves-cyan"><i class="mdi-editor-insert-chart"></i> Charts</a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li>
                                            <a href="charts-chartjs.html">Chart JS</a>
                                        </li>
                                        <li>
                                            <a href="charts-chartist.html">Chartist</a>
                                        </li>
                                        <li>
                                            <a href="charts-morris.html">Morris Charts</a>
                                        </li>
                                        <li>
                                            <a href="charts-xcharts.html">xCharts</a>
                                        </li>
                                        <li>
                                            <a href="charts-flotcharts.html">Flot Charts</a>
                                        </li>
                                        <li>
                                            <a href="charts-sparklines.html">Sparkline Charts</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="li-hover"><div class="divider"></div></li>
                    <li class="li-hover"><p class="ultra-small margin more-text">MORE</p></li>
                    <li>
                        <a href="css-grid.html"><i class="mdi-image-grid-on"></i> Grid</a>
                    </li>
                    <li>
                        <a href="css-color.html"><i class="mdi-editor-format-color-fill"></i> Color</a>
                    </li>
                    <li>
                        <a href="css-helpers.html"><i class="mdi-communication-live-help"></i> Helpers</a>
                    </li>
                    <li>
                        <a href="changelogs.html"><i class="mdi-action-swap-vert-circle"></i> Changelogs</a>
                    </li>
                    <li class="li-hover"><div class="divider"></div></li>
                    <li class="li-hover"><p class="ultra-small margin more-text">Daily Sales</p></li>
                    <li class="li-hover">
                        <div class="row">
                            <div class="col s12 m12 l12">
                                <div class="sample-chart-wrapper">
                                    <div class="ct-chart ct-golden-section" id="ct2-chart"></div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <a href="#" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only cyan"><i class="mdi-navigation-menu"></i></a>
            </aside>
            <!-- END LEFT SIDEBAR NAV-->
            <!-- //////////////////////////////////////////////////////////////////////////// -->
            <!-- START CONTENT -->
            <section id="content">

                <!--breadcrumbs start-->
                <!-- <div id="breadcrumbs-wrapper" class="grey lighten-3">-->
                <!-- Search for small screen -->
                <!--<div class="header-search-wrapper grey hide-on-large-only">
                        <i class="mdi-action-search active"></i>
                        <input type="text" name="Search" class="header-search-input z-depth-2" placeholder="Explore Materialize">
                    </div>
                  <div class="container">
                    <div class="row">
                      <div class="col s12 m12 l12">
                        <h5 class="breadcrumbs-title">Blank Page</h5>
                        <ol class="breadcrumb">
                            <li><a href="index.html">Dashboard</a></li>
                            <li><a href="#">Pages</a></li>
                            <li class="active">Blank Page</li>
                        </ol>
                      </div>
                    </div>
                  </div>
                </div>-->
                <!--breadcrumbs end-->
                <!--start container-->
                <div class="container">
                    <div style="height: 73.5vh" class="section">
                        @RenderBody()
                    </div>                   
                </div>
                <!--end container-->
            </section>
            <!-- END CONTENT -->
            <!-- //////////////////////////////////////////////////////////////////////////// -->
            <!-- START RIGHT SIDEBAR NAV-->
            @*<aside id="right-sidebar-nav">
                <ul id="chat-out" class="side-nav rightside-navigation">
                    <li class="li-hover">
                        <a href="#" data-activates="chat-out" class="chat-close-collapse right"><i class="mdi-navigation-close"></i></a>
                        <div id="right-search" class="row">
                            <form class="col s12">
                                <div class="input-field">
                                    <i class="mdi-action-search prefix"></i>
                                    <input id="icon_prefix" type="text" class="validate">
                                    <label for="icon_prefix">Search</label>
                                </div>
                            </form>
                        </div>
                    </li>
                    <li class="li-hover">
                        <ul class="chat-collapsible" data-collapsible="expandable">
                            <li>
                                <div class="collapsible-header teal white-text active"><i class="mdi-social-whatshot"></i>Recent Activity</div>
                                <div class="collapsible-body recent-activity">
                                    <div class="recent-activity-list chat-out-list row">
                                        <div class="col s3 recent-activity-list-icon">
                                            <i class="mdi-action-add-shopping-cart"></i>
                                        </div>
                                        <div class="col s9 recent-activity-list-text">
                                            <a href="#">just now</a>
                                            <p>Jim Doe Purchased new equipments for zonal office.</p>
                                        </div>
                                    </div>
                                    <div class="recent-activity-list chat-out-list row">
                                        <div class="col s3 recent-activity-list-icon">
                                            <i class="mdi-device-airplanemode-on"></i>
                                        </div>
                                        <div class="col s9 recent-activity-list-text">
                                            <a href="#">Yesterday</a>
                                            <p>Your Next flight for USA will be on 15th August 2015.</p>
                                        </div>
                                    </div>
                                    <div class="recent-activity-list chat-out-list row">
                                        <div class="col s3 recent-activity-list-icon">
                                            <i class="mdi-action-settings-voice"></i>
                                        </div>
                                        <div class="col s9 recent-activity-list-text">
                                            <a href="#">5 Days Ago</a>
                                            <p>Natalya Parker Send you a voice mail for next conference.</p>
                                        </div>
                                    </div>
                                    <div class="recent-activity-list chat-out-list row">
                                        <div class="col s3 recent-activity-list-icon">
                                            <i class="mdi-action-store"></i>
                                        </div>
                                        <div class="col s9 recent-activity-list-text">
                                            <a href="#">Last Week</a>
                                            <p>Jessy Jay open a new store at S.G Road.</p>
                                        </div>
                                    </div>
                                    <div class="recent-activity-list chat-out-list row">
                                        <div class="col s3 recent-activity-list-icon">
                                            <i class="mdi-action-settings-voice"></i>
                                        </div>
                                        <div class="col s9 recent-activity-list-text">
                                            <a href="#">5 Days Ago</a>
                                            <p>Natalya Parker Send you a voice mail for next conference.</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header light-blue white-text active"><i class="mdi-editor-attach-money"></i>Sales Repoart</div>
                                <div class="collapsible-body sales-repoart">
                                    <div class="sales-repoart-list  chat-out-list row">
                                        <div class="col s8">Target Salse</div>
                                        <div class="col s4">
                                            <span id="sales-line-1"></span>
                                        </div>
                                    </div>
                                    <div class="sales-repoart-list chat-out-list row">
                                        <div class="col s8">Payment Due</div>
                                        <div class="col s4">
                                            <span id="sales-bar-1"></span>
                                        </div>
                                    </div>
                                    <div class="sales-repoart-list chat-out-list row">
                                        <div class="col s8">Total Delivery</div>
                                        <div class="col s4">
                                            <span id="sales-line-2"></span>
                                        </div>
                                    </div>
                                    <div class="sales-repoart-list chat-out-list row">
                                        <div class="col s8">Total Progress</div>
                                        <div class="col s4">
                                            <span id="sales-bar-2"></span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header red white-text"><i class="mdi-action-stars"></i>Favorite Associates</div>
                                <div class="collapsible-body favorite-associates">
                                    <div class="favorite-associate-list chat-out-list row">
                                        <div class="col s4">
                                            <img src="~/Content/assets/images/avatar.jpg" alt="" class="circle responsive-img online-user valign profile-image">
                                        </div>
                                        <div class="col s8">
                                            <p>Eileen Sideways</p>
                                            <p class="place">Los Angeles, CA</p>
                                        </div>
                                    </div>
                                    <div class="favorite-associate-list chat-out-list row">
                                        <div class="col s4">
                                            <img src="~/Content/assets/images/avatar.jpg" alt="" class="circle responsive-img online-user valign profile-image">
                                        </div>
                                        <div class="col s8">
                                            <p>Zaham Sindil</p>
                                            <p class="place">San Francisco, CA</p>
                                        </div>
                                    </div>
                                    <div class="favorite-associate-list chat-out-list row">
                                        <div class="col s4">
                                            <img src="~/Content/assets/images/avatar.jpg" alt="" class="circle responsive-img offline-user valign profile-image">
                                        </div>
                                        <div class="col s8">
                                            <p>Renov Leongal</p>
                                            <p class="place">Cebu City, Philippines</p>
                                        </div>
                                    </div>
                                    <div class="favorite-associate-list chat-out-list row">
                                        <div class="col s4">
                                            <img src="~/Content/assets/images/avatar.jpg" alt="" class="circle responsive-img online-user valign profile-image">
                                        </div>
                                        <div class="col s8">
                                            <p>Weno Carasbong</p>
                                            <p>Tokyo, Japan</p>
                                        </div>
                                    </div>
                                    <div class="favorite-associate-list chat-out-list row">
                                        <div class="col s4">
                                            <img src="~/Content/assets/images/avatar.jpg" alt="" class="circle responsive-img offline-user valign profile-image">
                                        </div>
                                        <div class="col s8">
                                            <p>Nusja Nawancali</p>
                                            <p class="place">Bangkok, Thailand</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </aside>*@
            <!-- LEFT RIGHT SIDEBAR NAV-->

        </div>
        <!-- END WRAPPER -->

    </div>
    <!-- END MAIN -->
    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <!-- START FOOTER -->
    <footer class="page-footer ">
        <div class="footer-copyright">
            <div class="container" >
                <span> لدى مركز إنتاج البرمجيات الرئيسى  <a class="grey-text text-lighten-4"></a> Copyright © 2019  </span>
                <span class="right"style="padding-left:0.5em"><a class="grey-text text-lighten-4">  كل الحقوق محفوظة </a></span>
            </div>
        </div>
    </footer>
    <!-- END FOOTER -->
    <!-- ================================================
    Scripts
    ================================================ -->
    <!-- jQuery Library -->
    <script type="text/javascript" src="~/Content/assets/js/jquery-1.11.2.min.js"></script>
    <!--materialize js-->
    <script type="text/javascript" src="~/Content/assets/js/materialize.js"></script>
    <!--prism-->
    <script type="text/javascript" src="~/Content/assets/js/prism.js"></script>
    <!--scrollbar-->
    <script type="text/javascript" src="~/Content/assets/js/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    
    <script type="text/javascript" src="~/Content/assets/js/plugins/data-tables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/plugins/data-tables/data-tables-script.js"></script>

    <!-- chartist -->
    <script type="text/javascript" src="~/Content/assets/js/plugins/chartist-js/chartist.min.js"></script>

    <!--plugins.js - Some Specific JS codes for Plugin Settings-->
    <script type="text/javascript" src="~/Content/assets/js/plugins.js"></script>




</body>



</html>





