﻿@model SBAS.Models.BUS_ROUTES

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>BUS_ROUTES</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BUS_ROUTE_SERIAL)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BUS_ROUTE_SERIAL)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Bus.BUS_NUMBER)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Bus.BUS_NUMBER)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ROUTE.ROUTE_NAME)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ROUTE.ROUTE_NAME)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.START_TIME)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.START_TIME)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ARRIVAL_TIME)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ARRIVAL_TIME)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
