﻿@model SBAS.Models.BUS_ROUTES


@{
    ViewBag.Title = "تعديل";
}

<div id="basic-form" class="section">
    <div class="row">
        <div class="col l12 s12 m12">
            <div class="card-panel">
                <h4 class="header">تعديل</h4>
                <div class="row">
                    <form class="col s12" method="post" id="busRoutesForm">
                        @Html.HiddenFor(model => model.BUS_ROUTE_SERIAL)
                        <div class="row">
                            <div class="input-field col s12">
                                @Html.DropDownList("BUS_ID", null, new { required = "required" })
                                @Html.ValidationMessageFor(model => model.BUS_ID)
                                <label for="first_name" class="active">رقم الاوتوبيس</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                @Html.DropDownList("ROUTE_ID", null, new { required = "required" })
                                @Html.ValidationMessageFor(model => model.ROUTE_ID)
                                <label for="first_name" class="active">رقم الطريق</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s12">
                                @Html.TextBoxFor(model => model.START_TIME, new { id = "STime", type = "time" })
                                @Html.ValidationMessageFor(model => model.START_TIME)
                                <label for="first_name" class="active">وقت البدء</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                @Html.TextBoxFor(model => model.ARRIVAL_TIME, new { id = "ATime", type = "time" })
                                @Html.ValidationMessageFor(model => model.ARRIVAL_TIME)
                                <label for="first_name" class="active">وقت الوصول</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="row">
                                <div class="input-field col s6">
                                    <button class="btn cyan waves-effect waves-light right" type="button" onclick="sub()" name="action">
                                        حفظ
                                        <i class="mdi-content-save right"></i>
                                    </button>
                                </div>

                                <div class="input-field col s6">
                                    <a href="/bus_routes/index">
                                        <div class="btn cyan waves-effect waves-light left">
                                            عودة
                                            <i class="mdi-content-reply left"></i>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script>
    function sub() {
        if ($("#STime").val() < $("#ATime").val()) {
            $("#busRoutesForm").submit()
        }
        else {
            alert("ادخل بيانات صحيحة")
        }
    }
</script>
