﻿@model IEnumerable<SBAS.Models.BUS_ROUTES>

@{
    ViewBag.Title = "مسارات الاتوبيس";
}

<a href="/bus_routes/create" class="waves-effect waves-light btn-large left red"><i class="mdi-content-add-circle left"></i>جديد</a>

<div id="table-datatables">
    <div class="row">
        <table id="data-table-simple" class="responsive-table display" >
            <thead>
                <tr>
                    <th style="width:20%">رقم الباص</th>
                    <th style="width:25%">اسم المسار</th>
                    <th style="width:25%">بداية الوقت</th>
                    <th style="width:20%">وقت الوصول</th>

                    <th style="width:10%">تعديل</th>
                </tr>
            </thead>                       
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Bus.BUS_NUMBER)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ROUTE.ROUTE_NAME)
                        </td>
                        <td>
                           @Html.DisplayFor(modelItem => item.START_TIME)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ARRIVAL_TIME)
                        </td>
                        <td>
                            <a href="/bus_routes/edit/@item.BUS_ROUTE_SERIAL">
                                <div class="mdi-editor-mode-edit"></div>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
