﻿@model SBAS.Models.ROUTE

@{
    ViewBag.Title = "جديد";
}

<div id="basic-form" class="section">
    <div class="row">
        <div class="col l12 s12 m12">
            <div class="card-panel">
                <h4 class="header">إضافة مسار</h4>
                <div class="row">
                    <form class="col s12" method="post" id="RouteForm">
                        <div class="row">
                            <div class="input-field col s12">
                                @Html.TextBoxFor(model => model.ROUTE_NAME, new { required = "required" })
                                @Html.ValidationMessageFor(model => model.ROUTE_NAME)
                                <label for="first_name">الأسم</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s12">
                            

                                @Html.TextBoxFor(model => model.ESTIMATED_START_TIME, new {  Type = "datetime-local", id = "StartTime", required = "required" })
                              @Html.ValidationMessageFor(model => model.ESTIMATED_START_TIME)
                                <label for="first_name" class="active">وقت البداية</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                @Html.TextBoxFor(model => model.ESTIMATED_ARRIVAL_TIME, new {  Type = "datetime-local", id = "ArrivalTime", required = "required" })
                                @Html.ValidationMessageFor(model => model.ESTIMATED_ARRIVAL_TIME)
                                <label for="first_name" class="active">وقت الوصول</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                @Html.TextBoxFor(model => model.DURATION, new { })
                                @Html.ValidationMessageFor(model => model.DURATION)
                                <label for="first_name">المدة</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                @Html.DropDownListFor(model => model.START_POINT, (IEnumerable<SelectListItem>)ViewBag.stops, new { required = "required" })
                                @Html.ValidationMessageFor(model => model.START_POINT)
                                <label for="first_name" class="active">نقطة البداية</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                @Html.DropDownListFor(model => model.END_POINT, (IEnumerable<SelectListItem>)ViewBag.stops, new { required = "required" })
                                @Html.ValidationMessageFor(model => model.END_POINT)
                                <label for="first_name" class="active">نقطة النهاية</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="row">
                                <div class="input-field col s6">
                                    <button class="btn cyan waves-effect waves-light right" type="button" onclick="sub()" name="action">
                                        حفظ
                                        <i class="mdi-content-save right"></i>
                                    </button>
                                </div>

                                <div class="input-field col s6">
                                    <a href="/route/index">
                                        <div class="btn cyan waves-effect waves-light left">
                                            عودة
                                            <i class="mdi-content-reply left"></i>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


<script>

    function sub() {
        //if ($("#StartTime").val() < $("#ArrivalTime").val()) {
        // $("#RouteForm").submit();
        //}
        //else {
        //    alert("يجب ادخال بيانات صحيحة")
        //}
        $("#RouteForm").submit();


    }

</script>