﻿@model SBAS.Models.ROUTE

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>ROUTE</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ROUTE_ID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ROUTE_ID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ROUTE_NAME)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ROUTE_NAME)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ESTIMATED_START_TIME)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ESTIMATED_START_TIME)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ESTIMATED_ARRIVAL_TIME)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ESTIMATED_ARRIVAL_TIME)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DURATION)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DURATION)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.START_POINT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.START_POINT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.END_POINT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.END_POINT)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
