﻿@model SBAS.Models.ROUTE


@{
    ViewBag.Title = "تعديل";
}


<div id="basic-form" class="section">
    <div class="row">
        <div class="col l12 s12 m12">
            <div class="card-panel">
                <h4 class="header">تعديل</h4>
                <div class="row">
                    <form class="col s12" method="post" id="RouteForm">
                        @Html.HiddenFor(model => model.ROUTE_ID)
                        <div class="row">
                            <div class="input-field col s12">
                                @Html.TextBoxFor(model => model.ROUTE_NAME, new { required = "required" })
                                @Html.ValidationMessageFor(model => model.ROUTE_NAME)
                                <label for="first_name">اسم المسار</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">

                                @{

                                    var start = @Model.ESTIMATED_START_TIME.HasValue ? Model.ESTIMATED_START_TIME.Value.ToString("yyyy-MM-ddTHH:mm") : "";
                                    // start = "1982-04-12T23:20";

                                    var end = @Model.ESTIMATED_ARRIVAL_TIME.HasValue ? Model.ESTIMATED_ARRIVAL_TIME.Value.ToString("yyyy-MM-ddTHH:mm") : "";
                                }
                                @*@start*@

                                @Html.TextBoxFor(model => model.ESTIMATED_START_TIME, new { @Value = @start, Type = "datetime-local", id = "StartTime", required = "required" })


                                @*   @Html.TextBox("StartTime", @start, new { Type = "datetime-local", id = "StartTime",  required = "required"})*@
                                @Html.ValidationMessageFor(model => model.ESTIMATED_START_TIME)
                                <label for="first_name" class="active">بداية الوقت</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s12">
                                @Html.TextBoxFor(model => model.ESTIMATED_ARRIVAL_TIME, new { @Value = @end, Type = "datetime-local", id = "ArrivalTime", required = "required" })
                                @Html.ValidationMessageFor(model => model.ESTIMATED_ARRIVAL_TIME)
                                <label for="first_name" class="active">وقت الوصول</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                @Html.TextBoxFor(model => model.DURATION, new { })
                                @Html.ValidationMessageFor(model => model.DURATION)
                                <label for="first_name">المدة</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                @Html.DropDownListFor(model => model.START_POINT, (IEnumerable<SelectListItem>)ViewBag.stops, new { required = "required" })
                                @Html.ValidationMessageFor(model => model.START_POINT)
                                <label for="first_name" class="active">نقطة البداية</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                @Html.DropDownListFor(model => model.END_POINT, (IEnumerable<SelectListItem>)ViewBag.stops, new { required = "required" })
                                @Html.ValidationMessageFor(model => model.END_POINT)
                                <label for="first_name" class="active">نقطة النهاية</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="row">
                                <div class="input-field col s6">
                                    <button class="btn cyan waves-effect waves-light right" type="submit" name="action">
                                        حفظ
                                        <i class="mdi-content-save right"></i>
                                    </button>
                                </div>

                                <div class="input-field col s6">
                                    <a href="/route/index">
                                        <div class="btn cyan waves-effect waves-light left">
                                            عودة
                                            <i class="mdi-content-reply left"></i>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


<script>

    function sub() {
        //if ($("#StartTime").val() < $("#ArrivalTime").val()) {
        // $("#RouteForm").submit();
        //}
        //else {
        //    alert("يجب ادخال بيانات صحيحة")
        //}
        $("#RouteForm").submit();

    }

</script>