﻿@model IEnumerable<SBAS.ViewModel.ROUTEspecial>

@{
    ViewBag.Title = "المسار";
}


<a href="/route/create" class="waves-effect waves-light btn-large left red"style="top:3.5vw"><i class="mdi-content-add-circle left"></i>جديد</a>

<div id="table-datatables">
    <div class="row">
        <table id="data-table-simple" class="responsive-table display">
            <thead>
                <tr>
                    <th style="width:15%">اسم المسار</th>
                    <th style="width:15%">وقت البدء</th>
                    <th style="width:15%">وقت الوصول</th>
                    <th style="width:15%">المدة</th>
                    <th style="width:15%">نقطة البداية</th>
                    <th style="width:15%">نقطة النهاية</th>

                    <th style="width:10%">تعديل</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ROUTE.ROUTE_NAME)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ROUTE.ESTIMATED_START_TIME)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ROUTE.ESTIMATED_ARRIVAL_TIME)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ROUTE.DURATION)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.start_route_name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.end_route_name)
                        </td>
                        <td>
                            <a href="/route/edit/@item.ROUTE.ROUTE_ID">
                                <div class="mdi-editor-mode-edit"></div>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
<script>


    $(document).ready(function () {

            $("#data-table-simple_length").hide();
    });



    $(document).ready(function () {

            $("#data-table-simple_info").hide();
    });

</script>