﻿@model SBAS.Models.BUS_DRIVERS



@{
    ViewBag.Title = "جديد";
}

<div id="basic-form" class="section">
    <div class="row">
        <div class="col l12 s12 m12">
            <div class="card-panel">
                <h4 class="header">إضافة سائق باص</h4>
                <div class="row">
                    <form class="col s12" method="post">
                        <div class="row">
                            <div class="input-field col s12">
                               @Html.DropDownList("BUS_ID",null, "الباص" ,new { required = "required" })
            @Html.ValidationMessageFor(model => model.BUS_ID)
                                <label for="first_name" class="active">الباص</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                   @Html.DropDownList("DRIVER_ID", null,"السائق", new { required = "required" })
            @Html.ValidationMessageFor(model => model.DRIVER_ID)
                                <label for="first_name" class="active">السائق</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                   @Html.TextBoxFor(model => model.DRIVE_DATE,new { type="date" })
            @Html.ValidationMessageFor(model => model.DRIVE_DATE)
                                <label for="first_name" class="active">تاريخ القيادة</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                @Html.TextBoxFor(model => model.END_DATE, new { type = "date" })
            @Html.ValidationMessageFor(model => model.END_DATE)
                                <label for="first_name" class="active">تاريخ الأنتهاء</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="row">
                                <div class="input-field col s6">
                                    <button class="btn cyan waves-effect waves-light right" type="submit" name="action">
                                        حفظ
                                        <i class="mdi-content-save right"></i>
                                    </button>
                                </div>

                                <div class="input-field col s6">
                                    <a href="/bus_drivers/index">
                                        <div class="btn cyan waves-effect waves-light left">
                                            عودة
                                            <i class="mdi-content-reply left"></i>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
