﻿@model SBAS.Models.BUS_DRIVERS

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>BUS_DRIVERS</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SERIAL)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SERIAL)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Bus.BUS_NUMBER)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Bus.BUS_NUMBER)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DRIVER.D_NAME)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DRIVER.D_NAME)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DRIVE_DATE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DRIVE_DATE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.END_DATE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.END_DATE)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
