﻿@model SBAS.Models.BUS_DRIVERS

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>BUS_DRIVERS</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SERIAL)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SERIAL)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Bus.BUS_NUMBER)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Bus.BUS_NUMBER)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DRIVER.D_NAME)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DRIVER.D_NAME)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DRIVE_DATE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DRIVE_DATE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.END_DATE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.END_DATE)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
