﻿
@model IEnumerable<SBAS.ViewModel.BUS_DRIVERSandBUSROUTES>
@{
    ViewBag.Title = "سائقيين الاتوبيس";
}
<a href="/parent/create" class="waves-effect waves-light btn-large left red" style="top:3.5vw"><i class="mdi-content-add-circle left"></i>جديد</a>
<div id="table-datatables">
    <div class="row">
        <table id="data-table-simple" class="responsive-table display">
            <thead>
                <tr>
                    <th style="width:20%">رقم الباص</th>
                    <th style="width:30%">اسم السائق</th>
                    <th style="width:50%">المسار</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.BUS_DRIVERS.Bus.BUS_NUMBER)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BUS_DRIVERS.DRIVER.D_NAME)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BUS_ROUTES.ROUTE.ROUTE_NAME)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
<script>


    $(document).ready(function () {

            $("#data-table-simple_length").hide();
    });



    $(document).ready(function () {

            $("#data-table-simple_info").hide();
    });

</script>