﻿@model SBAS.Models.PARENT


@{
    ViewBag.Title = "جديد";
}

<div id="basic-form" class="section">
    <div class="row">
        <div class="col l12 s12 m12">
            <div class="card-panel">
                <h4 class="header">إضافة والد</h4>
                <div class="row">
                    <form class="col s12" method="post" id="ParentForm">
                        <div class="row">
                            <div class="input-field col s12">
                                @Html.TextBoxFor(model => model.PARENT_NID, new { required = "required", type = "number", id = "NID", maxlength = "14", oninput = "javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" })
            @Html.ValidationMessageFor(model => model.PARENT_NID)
                                <label for="first_name">رقم البطاقة</label>
                            </div>
                        </div>

                             <div class="row">
                            <div class="input-field col s12">
                                 @Html.TextBoxFor(model => model.PARENT_NAME , new { required = "required" })
            @Html.ValidationMessageFor(model => model.PARENT_NAME)
                                <label for="first_name">الاسم</label>
                            </div>
                        </div>


                             <div class="row">
                            <div class="input-field col s12">
                               @Html.TextBoxFor(model => model.PARENT_JOB, new { required = "required" })
            @Html.ValidationMessageFor(model => model.PARENT_JOB)
                                <label for="first_name">الوظيفة</label>
                            </div>
                        </div>

                             <div class="row">
                            <div class="input-field col s12">
                             @Html.TextBoxFor(model => model.PARENT_EMAIL , new { required = "required" })
            @Html.ValidationMessageFor(model => model.PARENT_EMAIL)
                                <label for="first_name">الأيميل</label>
                            </div>
                        </div>


                             <div class="row">
                            <div class="input-field col s12">
                  @Html.TextBoxFor(model => model.PARENT_ADDRESS , new { required = "required" } )
            @Html.ValidationMessageFor(model => model.PARENT_ADDRESS)
                                <label for="first_name">العنوان</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="row">
                                <div class="input-field col s6">
                                    <button class="btn cyan waves-effect waves-light right" type="button" onclick="sub()" name="action">
                                        حفظ
                                        <i class="mdi-content-save right"></i>
                                    </button>
                                </div>

                                <div class="input-field col s6">
                                    <a href="/parent/index">
                                        <div class="btn cyan waves-effect waves-light left">
                                            عودة
                                            <i class="mdi-content-reply left"></i>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
    <script>

        function sub() {
            var regex1 = RegExp("(2|3)[0-9][1-9][0-1][1-9][0-3][1-9](01|02|03|04|11|12|13|14|15|16|17|18|19|21|22|23|24|25|26|27|28|29|31|32|33|34|35|88)[0-9]{5}");
            var searchStr = $("#NID").val()
            if (regex1.test(searchStr) ) {
                $("#ParentForm").submit();
            }
            else {
                console.log('wrong data')
                alert("يجب ادخال بيانات صحيحة")
            }
        }

    </script>
