﻿@model SBAS.Models.PARENT

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>PARENT</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PARENT_ID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PARENT_ID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PARENT_NID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PARENT_NID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PARENT_NAME)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PARENT_NAME)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PARENT_JOB)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PARENT_JOB)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PARENT_EMAIL)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PARENT_EMAIL)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PARENT_ADDRESS)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PARENT_ADDRESS)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
