﻿@model SBAS.Models.PARENT

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>PARENT</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PARENT_ID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PARENT_ID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PARENT_NID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PARENT_NID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PARENT_NAME)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PARENT_NAME)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PARENT_JOB)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PARENT_JOB)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PARENT_EMAIL)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PARENT_EMAIL)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PARENT_ADDRESS)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PARENT_ADDRESS)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
