﻿@model IEnumerable<SBAS.Models.PARENT>

@{
    ViewBag.Title = "الوالد";
}


<a href="/parent/create" class="waves-effect waves-light btn-large left red" style="top:3.5vw"><i class="mdi-content-add-circle left"></i>جديد</a>

<div id="table-datatables">
    <div class="row">
        <table id="data-table-simple" class="responsive-table display">
            <thead>
                <tr>
                    <th style="width:30%">البطاقة</th>
                    <th style="width:15%">الأسم</th>
                    <th style="width:15%">الوظيفة</th>
                    <th style="width:15%">الأميل</th>
                    <th style="width:15%">العنوان</th>

                    <th style="width:10%">تعديل</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.PARENT_NID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PARENT_NAME)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PARENT_JOB)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PARENT_EMAIL)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PARENT_ADDRESS)
                        </td>
                        <td>
                            <a href="/parent/edit/@item.PARENT_ID">
                                <div class="mdi-editor-mode-edit"></div>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
<script>


    $(document).ready(function () {

            $("#data-table-simple_length").hide();
    });



    $(document).ready(function () {

            $("#data-table-simple_info").hide();
    });

</script>