﻿@model SBAS.Models.ATTENDANT

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>ATTENDANT</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ATTENDANT_ID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ATTENDANT_ID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ATTENDANT_NAME)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ATTENDANT_NAME)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ATTENDANT_PHONE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ATTENDANT_PHONE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ATTENDANT_NID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ATTENDANT_NID)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
