﻿@model SBAS.Models.ATTENDANT

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>ATTENDANT</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ATTENDANT_ID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ATTENDANT_ID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ATTENDANT_NAME)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ATTENDANT_NAME)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ATTENDANT_PHONE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ATTENDANT_PHONE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ATTENDANT_NID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ATTENDANT_NID)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
