﻿@model SBAS.Models.ATTENDANT

@{
    ViewBag.Title = "Edit";
}


<div id="basic-form" class="section">
    <div class="row">
        <div class="col l12 s12 m12">
            <div class="card-panel">
                <h4 class="header">تعديل</h4>
                <div class="row">
                    <form class="col s12" method="post" id="NIDForm">
                       @Html.HiddenFor(model => model.ATTENDANT_ID)
                        <div class="row">
                            <div class="input-field col s12">
                                 @Html.TextBoxFor(model => model.ATTENDANT_NAME, new { required = "required" })
                                @Html.ValidationMessageFor(model => model.ATTENDANT_NAME)
                                <label for="first_name">الأسم</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                @Html.TextBoxFor(model => model.ATTENDANT_PHONE, new {  type = "number", id = "phone", maxlength = "15", oninput = "javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" })
                                 @Html.ValidationMessageFor(model => model.ATTENDANT_PHONE)
                                <label for="first_name">رقم التليفون</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                           @Html.TextBoxFor(model => model.ATTENDANT_NID, new {  type = "number",id = "NID", maxlength = "14", oninput = "javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" })
                            @Html.ValidationMessageFor(model => model.ATTENDANT_NID)
                                <label for="first_name">رقم تحقيق الشخصية</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="row">
                                <div class="input-field col s6">
                                    <button class="btn cyan waves-effect waves-light right" type="button" onclick="sub()" name="action">
                                        حفظ
                                        <i class="mdi-content-save right"></i>
                                    </button>
                                </div>

                                <div class="input-field col s6">
                                    <a href="/attendant/index">
                                        <div class="btn cyan waves-effect waves-light left">
                                            عودة
                                            <i class="mdi-content-reply left"></i>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>

    function sub() {
        var regex1 = RegExp("(2|3)[0-9][1-9][0-1][1-9][0-3][1-9](01|02|03|04|11|12|13|14|15|16|17|18|19|21|22|23|24|25|26|27|28|29|31|32|33|34|35|88)[0-9]{5}");
        var searchStr = $("#NID").val()
        if (regex1.test(searchStr) && $("#phone").val().length > 10) {
            $("#NIDForm").submit();
        }
        else {
            alert("يجب ادخال بيانات صحيحة")
        }
    }

</script>