﻿@model SBAS.Models.ROUTE_STOPS

@{
    ViewBag.Title = "جديد";
}

<div id="basic-form" class="section">
    <div class="row">
        <div class="col l12 s12 m12">
            <div class="card-panel">
                <h4 class="header">إضافة طريق المحطة</h4>
                <div class="row">
                    <form class="col s12" method="post">
                        <div class="row">
                            <div class="input-field col s12">
                              @Html.DropDownList("ROUTE_ID", null, new { required = "required" })
            @Html.ValidationMessageFor(model => model.ROUTE_ID)
                                <label for="first_name" class="active">المسار</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s12">
                          @Html.DropDownList("STOP_ID", null, new { required = "required" })
            @Html.ValidationMessageFor(model => model.STOP_ID)
                                <label for="first_name" class="active">المحطة</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                        @Html.TextBoxFor(model => model.ESTIMATED_ARRIVAL_TIME, new { type = "time"})
            @Html.ValidationMessageFor(model => model.ESTIMATED_ARRIVAL_TIME)
                                <label for="first_name"  class="active">وقت الوصول</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="row">
                                <div class="input-field col s6">
                                    <button class="btn cyan waves-effect waves-light right" type="submit" name="action">
                                        حفظ
                                        <i class="mdi-content-save right"></i>
                                    </button>
                                </div>

                                <div class="input-field col s6">
                                    <a href="/route_stops/index">
                                        <div class="btn cyan waves-effect waves-light left">
                                            عودة
                                            <i class="mdi-content-reply left"></i>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
