﻿@model SBAS.Models.ROUTE_STOPS

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>ROUTE_STOPS</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SERIAL)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SERIAL)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ROUTE.ROUTE_NAME)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ROUTE.ROUTE_NAME)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.STOP.STOP_NAME)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.STOP.STOP_NAME)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ESTIMATED_ARRIVAL_TIME)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ESTIMATED_ARRIVAL_TIME)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
