﻿@model SBAS.Models.ROUTE_STOPS

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>ROUTE_STOPS</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SERIAL)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SERIAL)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ROUTE.ROUTE_NAME)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ROUTE.ROUTE_NAME)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.STOP.STOP_NAME)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.STOP.STOP_NAME)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ESTIMATED_ARRIVAL_TIME)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ESTIMATED_ARRIVAL_TIME)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
