﻿@model SBAS.Models.ROUTE_ATTENDANTS

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>ROUTE_ATTENDANTS</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SERIAL)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SERIAL)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ATTENDANT.ATTENDANT_NAME)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ATTENDANT.ATTENDANT_NAME)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.START_DATE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.START_DATE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.END_DATE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.END_DATE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BUS_ROUTES.BUS_ROUTE_SERIAL)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BUS_ROUTES.BUS_ROUTE_SERIAL)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
