﻿@model SBAS.Models.ROUTE_ATTENDANTS

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>ROUTE_ATTENDANTS</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SERIAL)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SERIAL)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ATTENDANT.ATTENDANT_NAME)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ATTENDANT.ATTENDANT_NAME)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.START_DATE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.START_DATE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.END_DATE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.END_DATE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BUS_ROUTES.BUS_ROUTE_SERIAL)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BUS_ROUTES.BUS_ROUTE_SERIAL)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
