﻿@model SBAS.Models.ROUTE_ATTENDANTS

@{
    ViewBag.Title = "تعديل";
}


<div id="basic-form" class="section">
    <div class="row">
        <div class="col l12 s12 m12">
            <div class="card-panel">
                <h4 class="header">تعديل</h4>
                <div class="row">
                    <form class="col s12" method="post" id="routeAttendantsForm">
                        @Html.HiddenFor(model => model.SERIAL)
                        <div class="row">
                            <div class="input-field col s12">
                                @Html.DropDownList("ATTENDANT_ID", null, String.Empty, new { required = "required" })
                                @Html.ValidationMessageFor(model => model.ATTENDANT_ID)
                                <label for="first_name" class="active">مرافق</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                @Html.TextBoxFor(model => model.START_DATE, new { id = "STime", type = "time" })
                                @Html.ValidationMessageFor(model => model.START_DATE)
                                <label for="first_name" class="active">وقت البداية</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                @Html.TextBoxFor(model => model.END_DATE, new { id = "ETime", type = "time" })
                                @Html.ValidationMessageFor(model => model.END_DATE)
                                <label for="first_name" class="active">وقت النهاية</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                @Html.DropDownList("BUS_ROUTE_SERIAL", null, String.Empty, new { required = "required" })
                                @Html.ValidationMessageFor(model => model.BUS_ROUTE_SERIAL)
                                <label for="first_name" class="active">رقم مسار الباس</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="row">
                                <div class="input-field col s6">
                                    <button class="btn cyan waves-effect waves-light right" type="button" onclick="sub()" name="action">
                                        حفظ
                                        <i class="mdi-content-save right"></i>
                                    </button>
                                </div>

                                <div class="input-field col s6">
                                    <a href="/route_attendants/index">
                                        <div class="btn cyan waves-effect waves-light left">
                                            عودة
                                            <i class="mdi-content-reply left"></i>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script>
    function sub() {
        if ($("#STime").val() < $("#ETime").val()) {
            $("#routeAttendantsForm").submit()
        }
        else {
            alert("ادخل بيانات صحيحة")
        }
    }
</script>