﻿@model IEnumerable<SBAS.Models.ROUTE_ATTENDANTS>

@{
    ViewBag.Title = "مرافقيين المسار";
}
    <a href="/school/create" class="waves-effect waves-light btn-large left red" style="top:3.5vw"><i class="mdi-content-add-circle left"></i>جديد</a>
<div id="table-datatables">
    <div class="row">
        <table id="data-table-simple" class="responsive-table display">
            <thead>
                <tr>
                    <th style="width:20%">الأسم</th>
                    <th style="width:20%">وقت البداية</th>
                    <th style="width:20%">وقت النهاية</th>
                    <th style="width:20%">المسار</th>
                    <th style="width:20%">رقم الأوتوبيس</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ATTENDANT.ATTENDANT_NAME)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.START_DATE)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.END_DATE)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BUS_ROUTES.ROUTE.ROUTE_NAME)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BUS_ROUTES.Bus.BUS_NUMBER)
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
<script>


    $(document).ready(function () {

            $("#data-table-simple_length").hide();
    });



    $(document).ready(function () {

            $("#data-table-simple_info").hide();
    });

</script>