﻿@model SBAS.Models.DRIVER

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>DRIVER</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DRIVER_ID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DRIVER_ID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.D_NAME)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.D_NAME)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.D_PHONE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.D_PHONE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.D_MOBILE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.D_MOBILE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.D_NID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.D_NID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LICENSE_TYPE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LICENSE_TYPE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LICENSE_NUMBER)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LICENSE_NUMBER)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EXPIR_DATE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EXPIR_DATE)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
