﻿@model SBAS.Models.DRIVER

@{
    ViewBag.Title = "Edit";
}


<div id="basic-form" class="section">
    <div class="row">
        <div class="col l12 s12 m12">
            <div class="card-panel">
                <h4 class="header">تعديل</h4>
                <div class="row">
                    <form class="col s12" method="post" id="DriverForm">
                        @Html.HiddenFor(model => model.DRIVER_ID)
                        <div class="row">
                            <div class="input-field col s12">
                                @Html.TextBoxFor(model => model.D_NAME, new { required = "required" })
                                @Html.ValidationMessageFor(model => model.D_NAME)
                                <label for="first_name">الأسم</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                @Html.TextBoxFor(model => model.D_PHONE, new { required = "required", type = "number", id = "phone", maxlength = "15", oninput = "javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" })
                                @Html.ValidationMessageFor(model => model.D_PHONE)
                                <label for="first_name">التليفون</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                @Html.TextBoxFor(model => model.D_MOBILE, new { required = "required", type = "number", id = "mobile", maxlength = "15", oninput = "javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" })
                                @Html.ValidationMessageFor(model => model.D_MOBILE)
                                <label for="first_name">الموبيل</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                @Html.TextBoxFor(model => model.D_NID, new { required = "required", type = "number", id = "NID", maxlength = "14", oninput = "javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" })
                                @Html.ValidationMessageFor(model => model.D_NID)
                                <label for="first_name">رقم تحقيق الشخصية</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                @Html.DropDownListFor(model => model.LICENSE_TYPE, (IEnumerable<SelectListItem>)ViewBag.licenseTypeList, new { id = "licenseTypeList", required = "required" })
                                @Html.ValidationMessageFor(model => model.LICENSE_TYPE)
                                <label for="first_name" class="active">نوع القيادة</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                @Html.TextBoxFor(model => model.LICENSE_NUMBER, new { required = "required", type = "number", id = "licenseNumber", maxlength = "20", oninput = "javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" })
                                @Html.ValidationMessageFor(model => model.LICENSE_NUMBER)
                                <label for="first_name">رقم الرخصة</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                @Html.TextBoxFor(model => model.EXPIR_DATE, new { required = "required", type = "date" })
                                @Html.ValidationMessageFor(model => model.EXPIR_DATE)
                                <label for="first_name" class="active">تاريخ الأنتهاء</label>
                            </div>
                        </div>


                        @*<div class="row">
                            <div class="input-field col s12">
                                <img src="@Url.Action("Image", "ImageController", new { id = Model.PHOTO })" />
                                @Html.(model => model.PHOTO, new { required = "required", type = "date" })
        @Html.ValidationMessageFor(model => model.EXPIR_DATE)
                                <label for="first_name" class="active">الصورة</label>
                            </div>
                        </div>*@






                        <div class="row">
                            <div class="row">
                                <div class="input-field col s6">
                                    <button class="btn cyan waves-effect waves-light right" type="button" onclick="sub()" name="action">
                                        حفظ
                                        <i class="mdi-content-save right"></i>
                                    </button>
                                </div>

                                <div class="input-field col s6">
                                    <a href="/driver/index">
                                        <div class="btn cyan waves-effect waves-light left">
                                            عودة
                                            <i class="mdi-content-reply left"></i>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>

    function sub() {
        var regex1 = RegExp("(2|3)[0-9][1-9][0-1][1-9][0-3][1-9](01|02|03|04|11|12|13|14|15|16|17|18|19|21|22|23|24|25|26|27|28|29|31|32|33|34|35|88)[0-9]{5}");
        var searchStr = $("#NID").val()
        if (regex1.test(searchStr) && $("#phone").val().length > 10 && $("#mobile").val().length>10 && $("#licenseNumber").val().length>10) {
            $("#DriverForm").submit();
        }
        else {
            alert("يجب ادخال بيانات صحيحة")
        }
    }

</script>