﻿@model SBAS.Models.STOP

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>STOP</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.STOP_ID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.STOP_ID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.STOP_NAME)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.STOP_NAME)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LONGITUDE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LONGITUDE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LATITUDE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LATITUDE)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
