﻿@model IEnumerable<SBAS.Models.STOP>

@{
    ViewBag.Title = "المحطة";
}

<a href="/stop/create" class="waves-effect waves-light btn-large left red"><i class="mdi-content-add-circle left"></i>جديد</a>

<div id="table-datatables">
    <div class="row">
        <table id="data-table-simple" class="responsive-table display" >
            <thead>
                <tr>
                    <th style="width:30%">اسم المحطة</th>
                    <th style="width:30%">خط الطول</th>
                    <th style="width:30%">خط العرض</th>

                    <th style="width:10%">تعديل</th>
                </tr>
            </thead>                       
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                       <td>
                                @Html.DisplayFor(modelItem => item.STOP_NAME)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LONGITUDE)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LATITUDE)
                            </td>
                        <td>
                            <a href="/stop/edit/@item.STOP_ID">
                                <div class="mdi-editor-mode-edit"></div>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
