﻿@model SBAS.Models.Bus




@{
    ViewBag.Title = "جديد";
}

<div id="basic-form" class="section">
    <div class="row">
        <div class="col l12 s12 m12">
            <div class="card-panel">
                <h4 class="header">إضافة باص</h4>
                <div class="row">
                    <form class="col s12" method="post">
                        <div class="row">
                            <div class="input-field col s12">
                          @Html.TextBoxFor(model => model.BUS_NUMBER, new { type = "number", required = "required" })
            @Html.ValidationMessageFor(model => model.BUS_NUMBER)
                                <label for="first_name">رقم الباص</label>
                            </div>
                        </div>
                          <div class="row">
                            <div class="input-field col s12">
                 @Html.DropDownList("COLOR_ID", null,"اللون", new {  })
            @Html.ValidationMessageFor(model => model.COLOR_ID)
                                <label for="first_name" class="active">اللون</label>
                            </div>
                        </div>
                          <div class="row">
                            <div class="input-field col s12">
                                    @Html.DropDownList("MODEL_ID", null, "الموديل", new {})
            @Html.ValidationMessageFor(model => model.MODEL_ID)
                                <label for="first_name" class="active">الموديل</label>
                            </div>
                        </div>
                          <div class="row">
                            <div class="input-field col s12">
                                 @Html.TextBoxFor(model => model.CAPACITY, new { type = "number"})
            @Html.ValidationMessageFor(model => model.CAPACITY)
                                <label for="first_name">السعة</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="row">
                                <div class="input-field col s6">
                                    <button class="btn cyan waves-effect waves-light right" type="submit" name="action">
                                        حفظ
                                        <i class="mdi-content-save right"></i>
                                    </button>
                                </div>

                                <div class="input-field col s6">
                                    <a href="/bus/index">
                                        <div class="btn cyan waves-effect waves-light left">
                                            عودة
                                            <i class="mdi-content-reply left"></i>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>





@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
