﻿@model SBAS.Models.SCHOOL

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>SCHOOL</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SCHOOL_ID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SCHOOL_ID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SCHOOL_NAME)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SCHOOL_NAME)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EDU_LEVEL)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EDU_LEVEL)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
