﻿@model SBAS.Models.SCHOOL

@{
    ViewBag.Title = "Edit";
}


<div id="basic-form" class="section">
    <div class="row">
        <div class="col l12 s12 m12">
            <div class="card-panel">
                <h4 class="header">تعديل</h4>
                <div class="row">
                    <form class="col s12" method="post">
                        @Html.HiddenFor(model => model.SCHOOL_ID)
                        <div class="row">
                            <div class="input-field col s12">
                                @Html.TextBoxFor(model => model.SCHOOL_NAME, new { required = "required" })
                                @Html.ValidationMessageFor(model => model.SCHOOL_NAME)
                                <label for="first_name">اسم المدرسة</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                @Html.DropDownListFor(model => model.EDU_LEVEL, (IEnumerable<SelectListItem>)ViewBag.EDU_LEVEL, new { id = "EDU_LEVEL" })
                                @Html.ValidationMessageFor(model => model.EDU_LEVEL)
                                <label for="first_name" class="active">درجة التعلم</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                @Html.TextBoxFor(model => model.LONGITUDE)
                                @Html.ValidationMessageFor(model => model.LONGITUDE)
                                <label for="first_name" class="active">خط الطول</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                @Html.TextBoxFor(model => model.LATITUDE)
                                @Html.ValidationMessageFor(model => model.LATITUDE)
                                <label for="first_name" class="active">خط العرض</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="row">
                                <div class="input-field col s6">
                                    <button class="btn cyan waves-effect waves-light right" type="submit" name="action">
                                        حفظ
                                        <i class="mdi-content-save right"></i>
                                    </button>
                                </div>

                                <div class="input-field col s6">
                                    <a href="/school/index">
                                        <div class="btn cyan waves-effect waves-light left">
                                            عودة
                                            <i class="mdi-content-reply left"></i>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
