﻿@model IEnumerable<SBAS.Models.SCHOOL>

@{
    ViewBag.Title = "المدرسة";
}
@functions{
    class EDU_LEVEL
    {
        public int id { get; set; }
        public string eduName { get; set; }
        public override string ToString()
        {
            return eduName;
        }
    }
}
<a href="/school/create" class="waves-effect waves-light btn-large left red" style="top:3.5vw"><i class="mdi-content-add-circle left"></i>جديد</a>

<div id="table-datatables">
    <div class="row">
        <table id="data-table-simple" class="responsive-table display">
            <thead>
                <tr>
                    <th style="width:30%">اسم المدرسة</th>
                    <th style="width:30%">درجة التعلم</th>
                    <th style="width:15%">خط الطول</th>
                    <th style="width:15%">خط العرض</th>
                    <th style="width:10%">تعديل</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.SCHOOL_NAME)
                        </td>
                        <td>
                            @{


                                int i = @item.EDU_LEVEL.Value;
                                Array arr = @ViewBag.EDU_LEVEL;
                                string s = "";
                                if (i <= 3 && i >= 1)
                                    s = arr.GetValue(i - 1).ToString();
                                //string s = ((Array)@ViewBag.EDU_LEVEL).GetValue(i - 1).ToString();
                                //@Html.Display(arr.GetValue(i - 1););

                            }
                            @s
                            @*@Html.DisplayFor(modelItem => item.EDU_LEVEL)*@
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LONGITUDE)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LATITUDE)
                        </td>
                        <td>
                            <a href="/school/edit/@item.SCHOOL_ID">
                                <div class="mdi-editor-mode-edit"></div>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
<script>


    $(document).ready(function () {

            $("#data-table-simple_length").hide();
    });



    $(document).ready(function () {

            $("#data-table-simple_info").hide();
    });

</script>