﻿@model SBAS.Models.EMPLOYEE

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>EMPLOYEE</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EMPLOYEE_ID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EMPLOYEE_ID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EMP_NAME)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EMP_NAME)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
