﻿@model SBAS.Models.STUDENT

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>STUDENT</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.STUDENT_ID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.STUDENT_ID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.STUDENT_NID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.STUDENT_NID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.STUDENT_NAME)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.STUDENT_NAME)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.STUDENT_MOBILE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.STUDENT_MOBILE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SCHOOL.SCHOOL_NAME)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SCHOOL.SCHOOL_NAME)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PARENT.PARENT_NAME)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PARENT.PARENT_NAME)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CLASS)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CLASS)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
